@charset "UTF-8";
.tarjeta .tarj1, .tarj2, .tarj3, .tarj4, .tarj5, .tarj6, .tarj7, .tarj8 {
  width: 270px;
  height: 560px;
  border: 1px solid #000000;
  border-radius: 3%;
  background-color: white; }
  .tarjeta .tarj1:hover, .tarj2:hover, .tarj3:hover, .tarj4:hover, .tarj5:hover, .tarj6:hover, .tarj7:hover, .tarj8:hover {
    -moz-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75); }

.tarjeta .card-img-top, .tarj2 .card-img-top, .tarj3 .card-img-top, .tarj4 .card-img-top, .tarj5 .card-img-top, .tarj6 .card-img-top, .tarj7 .card-img-top, .tarj8 .card-img-top {
  width: 250px;
  height: 420px;
  margin: 10px 0px 0px 0px;
  border-radius: 3%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-contenedor {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 150px 35px 850px 170px;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.grid-contenedor2 {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 150px 35px 810px 170px;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.grid-productos {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 150px 35px 1300px 170px;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.grid-nosotros {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 150px 35px 600px 170px;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.grid-registro {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 150px 35px 500px 170px;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.grid-carrito {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 150px 35px 810px 170px;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.tarjeta .tarj1, .tarj2, .tarj3, .tarj4, .tarj5, .tarj6, .tarj7, .tarj8 {
  width: 270px;
  height: 560px;
  border: 1px solid #000000;
  border-radius: 3%;
  background-color: white; }
  .tarjeta .tarj1:hover, .tarj2:hover, .tarj3:hover, .tarj4:hover, .tarj5:hover, .tarj6:hover, .tarj7:hover, .tarj8:hover {
    -moz-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75); }

.tarjeta .card-img-top, .tarj2 .card-img-top, .tarj3 .card-img-top, .tarj4 .card-img-top, .tarj5 .card-img-top, .tarj6 .card-img-top, .tarj7 .card-img-top, .tarj8 .card-img-top {
  width: 250px;
  height: 420px;
  margin: 10px 0px 0px 0px;
  border-radius: 3%; }

.encabezado {
  grid-area: header; }
  .encabezado a {
    text-decoration: none; }
    .encabezado a h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 70px;
      font-family: "Times New Roman", Times, serif;
      font-weight: normal;
      text-decoration: none;
      width: 100%;
      height: 25vh;
      background-image: url(../img/título.jpg);
      transition-property: font-size;
      transition-duration: 2s; }
      .encabezado a h1:hover {
        font-size: 72px; }

.navegador {
  grid-area: nav;
  background-color: #c49de9;
  border: 2px solid #a561e1; }
  .navegador ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .navegador ul li a {
      font-family: "Times New Roman", Times, serif;
      color: black;
      text-decoration: none;
      font-size: 14px;
      transition: 0.5s ease-in-out; }
      .navegador ul li a:hover {
        text-decoration: black;
        text-shadow: 1px 0px 12px rgba(0, 0, 0, 0.98);
        font-size: 15px; }
    .navegador ul .carrito a img {
      width: 30px;
      height: 30px;
      transition: 1s; }
      .navegador ul .carrito a img:hover {
        width: 31px;
        height: 31px; }

.tarjeta .tarj1, .tarj2, .tarj3, .tarj4, .tarj5, .tarj6, .tarj7, .tarj8 {
  width: 270px;
  height: 560px;
  border: 1px solid #000000;
  border-radius: 3%;
  background-color: white; }
  .tarjeta .tarj1:hover, .tarj2:hover, .tarj3:hover, .tarj4:hover, .tarj5:hover, .tarj6:hover, .tarj7:hover, .tarj8:hover {
    -moz-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75); }

.tarjeta .card-img-top, .tarj2 .card-img-top, .tarj3 .card-img-top, .tarj4 .card-img-top, .tarj5 .card-img-top, .tarj6 .card-img-top, .tarj7 .card-img-top, .tarj8 .card-img-top {
  width: 250px;
  height: 420px;
  margin: 10px 0px 0px 0px;
  border-radius: 3%; }

.contenido {
  grid-area: main;
  background-color: #eee6f5;
  font-family: "Times New Roman", Times, serif; }
  .contenido .bienvenida {
    display: flex;
    justify-content: center;
    margin: 3%;
    font-size: 18px;
    color: black; }
  .contenido .productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .contenido .productos .card1, .contenido .productos .card2, .contenido .productos .card3, .contenido .productos .card4 {
      border: 1px solid #000000;
      border-radius: 3%;
      background-color: white; }
      .contenido .productos .card1:hover, .contenido .productos .card2:hover, .contenido .productos .card3:hover, .contenido .productos .card4:hover {
        -moz-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75); }
      .contenido .productos .card1 .card-img-top, .contenido .productos .card2 .card-img-top, .contenido .productos .card3 .card-img-top, .contenido .productos .card4 .card-img-top {
        width: 280px;
        height: 420px;
        border-radius: 3%; }
      .contenido .productos .card1 div .card-title, .contenido .productos .card2 div .card-title, .contenido .productos .card3 div .card-title, .contenido .productos .card4 div .card-title {
        font-size: 15px; }
      .contenido .productos .card1 div .card-text, .contenido .productos .card2 div .card-text, .contenido .productos .card3 div .card-text, .contenido .productos .card4 div .card-text {
        font-size: 14px; }

.acordion-e-iconos .accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: acordion; }
  .acordion-e-iconos .accordion .accordion-item .accordion-header {
    margin: 6px; }
    .acordion-e-iconos .accordion .accordion-item .accordion-header:hover {
      -moz-box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.75); }

.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: section; }
  .iconos .envios {
    width: 150px;
    height: 150px;
    margin: 25px; }
  .iconos .banco {
    width: 100px;
    height: 100px;
    margin: 25px; }
  .iconos .MP {
    width: 150px;
    height: 150px;
    margin: 25px; }

.tarjeta {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eee6f5; }
  .tarjeta .card-body .card-title {
    font-size: 15px; }
  .tarjeta .card-body .card-text {
    font-size: 14px; }

.tarj2 .card-body .card-title {
  font-size: 15px; }

.tarj2 .card-body .card-text {
  font-size: 14px; }

.tarj3 .card-body .card-title {
  font-size: 15px; }

.tarj3 .card-body .card-text {
  font-size: 14px; }

.tarj4 .card-body .card-title {
  font-size: 15px; }

.tarj4 .card-body .card-text {
  font-size: 14px; }

.tarj5 .card-body .card-title {
  font-size: 15px; }

.tarj5 .card-body .card-text {
  font-size: 14px; }

.tarj6 .card-body .card-title {
  font-size: 15px; }

.tarj6 .card-body .card-text {
  font-size: 14px; }

.tarj7 .card-body .card-title {
  font-size: 15px; }

.tarj7 .card-body .card-text {
  font-size: 14px; }

.tarj8 .card-body .card-title {
  font-size: 15px; }

.tarj8 .card-body .card-text {
  font-size: 14px; }

.nosotros {
  grid-area: main; }
  .nosotros .quienes-somos {
    margin: 50px; }
    .nosotros .quienes-somos h2 {
      text-align: center; }
    .nosotros .quienes-somos p {
      text-align: center; }
  .nosotros .ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .nosotros .ubicacion .mapa {
      width: 400;
      height: 300; }
    .nosotros .ubicacion .info {
      font-family: "Times New Roman", Times, serif;
      margin: 25px; }
      .nosotros .ubicacion .info h4 {
        font-size: 16px;
        font-weight: bold; }
        .nosotros .ubicacion .info h4 h5 {
          font-size: 14px; }

.formulario {
  grid-area: main;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eee6f5; }
  .formulario .registrate .btn {
    margin: 6px; }

.compras {
  grid-area: main; }

.tarjeta .tarj1, .tarj2, .tarj3, .tarj4, .tarj5, .tarj6, .tarj7, .tarj8 {
  width: 270px;
  height: 560px;
  border: 1px solid #000000;
  border-radius: 3%;
  background-color: white; }
  .tarjeta .tarj1:hover, .tarj2:hover, .tarj3:hover, .tarj4:hover, .tarj5:hover, .tarj6:hover, .tarj7:hover, .tarj8:hover {
    -moz-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75); }

.tarjeta .card-img-top, .tarj2 .card-img-top, .tarj3 .card-img-top, .tarj4 .card-img-top, .tarj5 .card-img-top, .tarj6 .card-img-top, .tarj7 .card-img-top, .tarj8 .card-img-top {
  width: 250px;
  height: 420px;
  margin: 10px 0px 0px 0px;
  border-radius: 3%; }

.pie {
  grid-area: footer;
  font-family: "Times New Roman", Times, serif;
  background-color: #c49de9;
  border: 2px solid #a561e1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pie a img {
    width: 50px;
    height: 50px;
    margin: 0px 0px 5px 15px; }
  .pie h3 {
    font-size: 15px;
    text-align: center;
    font-weight: normal; }

@media screen and (max-width: 768px) {
  .grid-contenedor {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 143.5px 35px 1450px 170px;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .encabezado a h1 {
    font-size: 60px; }
    .encabezado a h1:hover {
      font-size: 63px; }
  .contenido .productos .card1, .contenido .productos .card2, .contenido .productos .card3, .contenido .productos .card4 {
    margin: 10px; }
  .grid-contenedor2 {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 145px 35px 750px 170px;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .grid-productos {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 143.5px 35px 2450px 170px;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .grid-nosotros {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 143.5px 35px 600px 170px;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .grid-registro {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 143.5px 35px 700px 170px;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  .grid-carrito {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 143.5px 35px 810px 170px;
    grid-template-areas: "header header" "nav nav nav nav" "main main" "footer footer"; } }

@media screen and (max-width: 425px) {
  .grid-contenedor {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 143.5px 130px 2500px 170px;
    grid-template-areas: "header" "nav" "main" "footer"; }
  .navegador ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 1rem; }
  .encabezado a h1 {
    font-size: 40px; }
    .encabezado a h1:hover {
      font-size: 45px; }
  .pie a img {
    width: 30px;
    height: 30px;
    margin: 0px 0px 5px 15px; }
  .grid-contenedor2 {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 145px 130px 610px 170px;
    grid-template-areas: "header" "nav" "main" "footer"; }
  .acordion-e-iconos {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 460px 150px;
    grid-template-areas: "acordion acordion acordion acordion" " section section section section"; }
  .iconos .envios {
    width: 80px;
    height: 80px;
    margin: 25px; }
  .iconos .banco {
    width: 40px;
    height: 40px;
    margin: 25px; }
  .iconos .MP {
    width: 80px;
    height: 80px;
    margin: 25px; }
  .grid-productos {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 143.5px 130px 5000px 170px;
    grid-template-areas: "header" "nav" "main" "footer"; }
  .grid-nosotros {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 143.5px 130px 1100px 170px;
    grid-template-areas: "header" "nav" "main" "footer"; }
    .grid-nosotros .ubicacion .mapa {
      width: 300;
      height: 200; }
  .grid-registro {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 143.5px 130px 700px 170px;
    grid-template-areas: "header" "nav" "main" "footer"; }
    .grid-registro .ingresa {
      border: 1px solid #a561e1;
      border-radius: 3%;
      padding: 15px; }
    .grid-registro .registrate {
      border: 1px solid #a561e1;
      border-radius: 3%;
      padding: 15px; }
  .grid-carrito {
    font-family: "Times New Roman", Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 143.5px 130px 400px 170px;
    grid-template-areas: "header" "nav" "main" "footer"; } }
