*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header a{ 
    text-decoration: none;
}

header a h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    width: 100%;
    height: 25vh;
    background-image: url(../img/título.jpg);
    transition-property: font-size;
    transition-duration: 2s;
}

header a h1:hover{
    font-size: 72px;
}


.grid-contenedor{ 
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 850px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
    ;
}
.encabezado{
    grid-area: header;
}

.navegador{
    grid-area: nav;
    background-color: rgb(196, 157, 233);
    border: 2px solid rgb(165,97,225);
    
}
.navegador a {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s ease-in-out;
    
}
.navegador a:hover{
    text-decoration: black;
    text-shadow: 1px 0px 12px rgba(0,0,0,0.98);
    font-size: 15px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenido{
    grid-area: main;
    background-color: #eee6f5;
}

.bienvenida{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 3%;
    font-size: 18px;
    color:black;
}

.productos{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
}

.card-img-top{
    width: 250px;
    height: 420px;
}
div .card1,.card2,.card3,.card4{
    border: 1px solid #000000;
    border-radius: 3%;
    background-color: white;
}

div .card1:hover{
    -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}
div .card2:hover{
    -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}

div .card3:hover{
    -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}

div .card4:hover{
    -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}

.card-title{
    font-size: 15px;
}
.card-text {
    font-size: 14px;
}
.carrito img{
    width: 30px;
    height: 30px;
    transition: 1s;
}

.carrito img:hover{
    width: 31px;
    height: 31px;
}

/*.productos img{
    width: 310px;
    height: 430px;
    padding: 5%;
}

div h3{
    display: flex;
    justify-content: center;
    font-size: small;
}
div h4{
    display: flex;
    justify-content: center;
    font-size: small;
}

.productos div a{
    display: flex;
    justify-content: center;
    font-size: medium;
    color: black;
    font-weight: 80px;
    text-decoration: none;
    padding: 8px;
}*/


.pie{
    grid-area: footer;
    background-color:rgb(196, 157, 233) ;
    border: 2px solid rgb(165,97,225);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.pie a img{ 
    width: 50px;
    height: 50px;
    margin: 0px 0px 5px 15px; 
} 

.pie h3{
    font-size: 15px;
    text-align: center;
}

.grid-contenedor2{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 810px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
}
.acordion-e-iconos{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 460px 350px;
    grid-template-areas: 
    "acordion acordion acordion acordion"
    " section section section section";
}

.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: acordion;
    
}

.accordion-header{
    margin: 6px;
}
.accordion-header:hover{
    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section;
}
.envios{
    width: 150px;
    height: 150px;
    margin: 25px;
}

.banco{
    width: 100px;
    height: 100px;
    margin: 25px;
}

.MP{
    width: 150px;
    height: 150px;
    margin: 25px;
}

@media screen and (max-width:768px) {
    .grid-contenedor{ 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 143.5px 35px 1450px 170px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer"
        ;
    }

    .encabezado a h1{
        font-size: 60px;
    }

    div .card1,.card2,.card3,.card4{
        margin: 10px;
    }
    
}

.grid-contenedor2{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 145px 35px 750px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
}


@media screen and (max-width:425px){

    .grid-contenedor{ 
        font-family: 'Times New Roman', Times, serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 143.5px 130px 2500px 170px;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
        ;
        }

    .navegador ul {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding-left: 0px;
    }
    
    .encabezado a h1{
        font-size: 40px;
    }

    .grid-contenedor2{
        font-family: 'Times New Roman', Times, serif;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 145px 130px 610px 170px;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    }

    .acordion-e-iconos{
        display: grid;
        grid-template-columns: 4fr;
        grid-template-rows: 460px 150px;
        grid-template-areas: 
        "acordion acordion acordion acordion"
        " section section section section";
    }

    .envios{
        width: 80px;
        height: 80px;
        margin: 25px;
    }
    
    .banco{
        width: 40px;
        height: 40px;
        margin: 25px;
    }
    
    .MP{
        width: 80px;
        height: 80px;
        margin: 25px;
    }

    .pie a img{ 
        width: 30px;
        height: 30px;
        margin: 0px 0px 5px 15px; 
    }
}