@import "../base/variables";

//INDEX//
.contenido {
    grid-area: main;
    background-color: $fondo-main;
    font-family: $fuente-principal;
    .bienvenida{
        display: flex;
        justify-content: center;
        margin: 3%;
        font-size: 18px;
        color:black;
    }
    .productos{
        @include flex( flex,space-around,center);
        flex-wrap: wrap;
        .card1,.card2,.card3,.card4{
            border: 1px solid #000000;
            border-radius: 3%;
            background-color: white;            
            &:hover{
                -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
                box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
                }
            .card-img-top{
                width: 280px;
                height: 420px;
                border-radius: 3%;
                }
            div{
                .card-title{
                    font-size: $producto;
                }
                .card-text {
                    font-size: $precio;
                }
            }
        }
    }
}

//COMO COMPRAR//
.acordion-e-iconos{
    .accordion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: acordion;
        .accordion-item{
            .accordion-header{
                margin: 6px;
                &:hover {
                    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
                    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
                }
            }
        }
    }
}

.iconos{
    @include flex(flex,center,center);
    grid-area: section;
    .envios{
        width: 150px;
        height: 150px;
        margin: 25px;
        }
    .banco{
        width: 100px;
        height: 100px;
        margin: 25px;
        }
    .MP{
        width: 150px;
        height: 150px;
        margin: 25px;
        }
}


//PRODUCTOS//
.tarjeta{
    grid-area: main;
    @include flex(flex, space-around, center);
    flex-wrap: wrap;
    background-color: $fondo-main;
    .tarj1{
        @extend %borde-tarjeta;        
        }
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj2{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj3{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj4{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj5{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj6{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj7{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }
    .tarj8{
        @extend %borde-tarjeta;
        .card-img-top{
            @extend %img-etiqueta;
        }
        .card-body{
            .card-title{
                font-size: $producto;
            }
            .card-text{
                font-size: $precio;
            }
        }
    }

//NOSOTROS//


.nosotros {
    grid-area: main;
    .quienes-somos{
        margin: 50px;
        h2{
            text-align: center;
        }
    }
    .ubicacion {
        @include flex(flex,space-around,center);
        flex-wrap: wrap;
    }
}

//REGISTRO//

.formulario {
    grid-area: main;
    @include flex(flex,space-around,center);
    flex-wrap: wrap;
    background-color: $fondo-main;
}
