.contenido {
    grid-area: main;
    background-color: #eee6f5;
    .bienvenida{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        margin: 3%;
        font-size: 18px;
        color:black;
    }
    .productos{
        display: flex;
        justify-content: space-around; 
        align-items: center;
        flex-wrap: wrap;
        .card1,.card2,.card3,.card4{
            border: 1px solid #000000;
            border-radius: 3%;
            background-color: white;
            .card-img-top{
                width: 280px;
                height: 420px;
                }
            &:hover{
                -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
                box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
                }
            div{
                .card-title{
                    font-size: 15px;
                }
                .card-text {
                    font-size: 14px;
                }
            }
        }
    }
}

.acordion-e-iconos{
    .accordion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: acordion;
        .accordion-item{
            .accordion-header{
                margin: 6px;
                &:hover {
                    -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
                    box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.75);
                }
            }
        }
    }
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section;
    .envios{
        width: 150px;
        height: 150px;
        margin: 25px;
        }
    .banco{
        width: 100px;
        height: 100px;
        margin: 25px;
        }
    .MP{
        width: 150px;
        height: 150px;
        margin: 25px;
        }
    
}