*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.grid-contenedor{ 
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 850px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}


.grid-contenedor2{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 810px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
}