@import "./base/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.grid-contenedor{ 
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 850px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}


.grid-contenedor2{
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 810px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
}

.grid-productos {
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 1300px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

.grid-nosotros {
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 600px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

.grid-registro {
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 700px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

.grid-carrito {
    font-family: $fuente-principal;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 150px 35px 810px 170px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer"
}