
$fuente-principal:'Times New Roman', Times, serif;

$producto: 15px;

$precio: 14px;

$fondo-main: #eee6f5;

%borde-tarjeta{
    width:270px;
    height: 560px;
    border: 1px solid #000000;
    border-radius: 3%;
    background-color: white;
    &:hover{
        -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
        }
}

%img-etiqueta{
    width: 250px;
    height: 420px;
    margin: 10px 0px 0px 0px;
    border-radius: 3%;
}


@mixin flex ($flex,$justify,$aling) {
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}